.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #343a40;
}

.footer,
.push {
  position: relative;
  margin-bottom: 0px;
}

.header{
  padding-top: 30px;
  padding-bottom: 10px;
}

form{
  margin-bottom: 60px ;
}